head
  title Myscope
body
  .container
    header.navbar.navbar-default.navbar-static-top(role='navigation')
      .navbar-header
        a.navbar-brand(href='/') Myscope
    #main.row-fluid
      +postsList