template(name='postEdit')
  form.main-form
    .form-group(class="{{errorClass 'url'}}")
      label.control-label(for='url') URL
      .controls
        input#url.form-control(type='text', name='url', value="{{url}}", placeholder="Your URL")
        span.help-block {{errorMessage 'url'}}
    .form-group(class="{{errorClass 'title'}}")
      label.control-label(for='title') Title
      .controls
        input#title.form-control(type='text', name='title', value="{{title}}", placeholder="Name your post")
        span.help-block {{errorMessage 'title'}}
    input.btn.btn-primary(type='submit', value='Submit')
    hr
    a.btn.btn-danger.delete(href="#") Delete post