template(name='postSubmit')
  form.main.form
    .form-group
      label.control-label(for='url') URL
      .controls
        input#url.form-control(name='url', type='text', value='', placeholder="Your URL")
    .form-group
      label.control-label(for='title') Title
      .controls
        input#title.form-control(name='title', type='text', value='', placeholder="Name your post")
    input.btn.btn-primary(type='submit', value='Submit')