template(name='postItem')
  .post
    .post-content
      h3
        a(href="{{url}}") #{title}
        span #{domain}
      p
        | submitted by #{author},
        a(href="{{pathFor 'postPage'}}") #{commentsCount} comments
        if ownPost
          a(href="{{pathFor 'postEdit'}}") Edit
    a.discuss.btn.btn-default(href="{{pathFor 'postPage'}}") Discuss